.contentTrue {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 100%;
}
.contentNav {
  height: 100vh;
  max-width: 300px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.avatar {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: #ffffff30 solid 1px;
  border-bottom: #ffffff30 solid 1px;
}
.avatar > img {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid #ffffff;
}
.UserAvatarName {
  color: #fff;
  font-size: 1.2rem;
}
.menu {
  font-size: 1.2rem;
  padding-left: 35px;
  list-style: square;
  grid-area: menu;
}
.menu > li {
  list-style-type: none;
  padding-top: 20px;
  font-size: 1.2rem;
}
.menu > li > .link {
  color: #ffffff;
  text-decoration: none;
}
